<div class="weather-wrapper">
    <div class="weather-card">
        <div class="weather-icon sun"></div>
        <h1>26ยบ</h1>
        <p>Madrid</p>
    </div>
    <div class="weather-card">
        <div class="weather-icon cloud"></div>
        <h1>14ยบ</h1>
        <p>London</p>
    </div>
</div>



