<forecast>
  <div class='wrapper mb-4'>

    <search>
      <form>
        <input class='searchbar transparent' id='search' type='text' placeholder='enter city, country' />
        <input class='button transparent' id='button' type="submit" value='GO' />
      </form>
    </search>

    <div class='panel'>
      <h2 class='city' id='city'></h2>
      <div class='weather' id='weather'>
        <div class='group secondary'>
          <h3 id='dt'></h3>
          <h3 id='description'></h3>
        </div>
        <div class='group secondary'>
          <h3 id='wind'></h3>
          <h3 id='humidity'></h3>
        </div>
        <div class='temperature' id='temperature'>
          <h1 class='temp' id='temp'>
            <i id='condition'></i>
            <span id='num'></span>
            <a class='celsius active' id='celsius' href="#">&deg;C</a>
            <span class='divider secondary'>|</span>
            <a class='fahrenheit' id='fahrenheit' href="#">&deg;F</a>
          </h1>
        </div>
        <div class='forecast' id='forecast'></div>
      </div>
    </div>

  </div>
</forecast>