<!-- <div class="landing">
  <div class="landing-text">
    <h1>Sama</h1>
    <hr>
    <p>The Weather App</p>
    <button class="btn btn-outline-dark" id="goDown">Get Current</button>
  </div>
</div> -->


<div class="landing">
  <video autoplay muted loop id="myVideo">
    <source src="/images/background.mp4" type="video/mp4">
  </video>
  <div class="heading">
    <div class="heading-text">
      <h1>Sama</h1>
      <p>The Weather App</p>
      <hr style="width: 40%; background-color: white">
      <button class="btn btn-primary btn-lg mt-4" id = "goDown">Learn more about us <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</div>