<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img class = "icon"src="/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <%if(username){%>
        <li class="nav-item active">
          <a class="nav-link" href="#"><%=username.username%><span class="sr-only">(current)</span></a>
        </li>
        <%} else{%>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <%}%>
        <li class="nav-item">
          <a class="nav-link" href="/prediction">Prediction</a>
        </li>
        <%if(username){%>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>