<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Sama | Weather API</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
	<!-- <script src="main.js"></script> -->

	<link rel="stylesheet" href="/lib/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/home.css" type="text/css" />
	<link rel="stylesheet" href="/css/widget.css" type="text/css" />
	<link rel="stylesheet" href="/css/forecast.css" type="text/css" />
	<link rel="stylesheet" href="/css/scrollbar.css" type="text/css" />

</head>

<body>
	<% include partials/navbar %>
	<!-- <div class="container">
		<h1>Weather App</h1>
		<div class="row landing">
			<div class="col-3 leftCol">
				<div class="container mt-4 popularCities">
					<h3>Popular Cities</h3>
					<ul>
						<li><a href="#">Mumbai</a></li>
						<li><a href="#">Delhi</a></li>
						<li><a href="#">Bangalore</a></li>
						<li><a href="#">Hyderabad</a></li>
						<li><a href="#">Ahmedabad</a></li>
						<li><a href="#">Chennai</a></li>
						<li><a href="#">Kolkata</a></li>
						<li><a href="#">Surat</a></li>
						<li><a href="#">Pune</a></li>
						<li><a href="#">Jaipur</a></li>
						<li><a href="#">Lucknow</a></li>
						<li><a href="#">Kanpur</a></li>
						<li><a href="#">Nagpur</a></li>
						<li><a href="#">Visakhapatnam</a></li>
						<li><a href="#">Indore</a></li>
						<li><a href="#">Thane</a></li>
						<li><a href="#">Bhopal</a></li>
						<li><a href="#">Pimpri-Chinchwad</a></li>
						<li><a href="#">Patna</a></li>
						<li><a href="#">Vadodara</a></li>
						<li><a href="#">Ghaziabad</a></li>
						<li><a href="#">Ludhiana</a></li>
						<li><a href="#">Coimbatore</a></li>
						<li><a href="#">Agra</a></li>
						<li><a href="#">Madurai</a></li>
					</ul>
				</div>
			</div>
			<div class="imageMap col-6">
				<% include partials/imagemap %>
			</div>
			<div class="col-3 rightCol"></div>
		</div>
	</div> -->
	<% include partials/landing %>
	<div class="seperation"></div>
	<% include partials/card %>
	<div class="seperation"></div>
	<% include partials/forecast %>


	<% include partials/footer %>

	<!-- Scripts -->
	<script src="/lib/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
	<script src="/lib/bootstrap.js"></script>
	<script src="/js/forecast.js"></script>
	<script src="/js/getMap.js"></script>
	<script src="/js/widget.js"></script>
	<script src="/js/home.js"></script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU634U6QBof7xEL5YKArhN6_KmwwhQUTk&callback=initMap"></script>
</body>

</html>