<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.js"></script>
</head>

<body>
    <% include partials/navbar%>
</body>
</html>
