@import url("https://fonts.googleapis.com/css?family=Lato");

//map
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00cdac, #02aab0); /* Chrome 10-25, Safari 5.1-6 */
  .landing{
    height: 100vh;
    background-image: url("/images/landingBack1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .landing-text{
      position: relative;
      top:50%;
      left:50%;
      text-align: center;
      transform: translate(-50%, -50%);
      
      h1{
        font-weight: 500;
        letter-spacing: 2px;
        text-shadow: 0px 5px 10px rgba(0,0,0,0.5),
        0px 10px 10px rgba(0,0,0,0.2);
        // 0px 10px 20px rgba(0,0,0,0.2);
      }
      p{
        font-variant-caps: small-caps;
        word-spacing: 5px;
        font-size: 1.2rem;
      }
      hr{
        border-top:1px solid black;
        width: 50vw;
      }
    }
  }

  .container {
    .map-container {
      height: 80%;

      .map {
        // border: 5px solid red;
        height: 80vh;
        // margin: auto 20vw;
        // border: 1px solid red;
        #map {
          height: 100%;
        }
      }
    }
  }
}

.seperation{
	width: 100vw;
	height:10px;
	background-color: white;
	// margin-top:10px;
	// margin-bottom:10px;
}








// .landing {
//   .imageMap {
//     border: 1px solid red;
//     overflow: hidden;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .leftCol,
//   .rightCol {
//     border: 1px solid red;
//   }

//   .popularCities {
//     ul {
//       li {
//         list-style: none;
//         margin-left: -40px;
//       }
//     }
//   }
// }
